@import "node_modules/milligram-scss/dist/milligram.scss";
@import "variables";

body {
    background-color: $dark;
    padding: 0 10%;
    min-width: 800px;
}

h1, h2, h3, h4, p {
	color: #FFF;
}

li {
	margin-bottom: 0;
}

input {
	color: #FFF;
}

.button.button-outline {
	color: #FFF;
	border: .3rem solid #FFF;
	border-radius: 10rem;
	padding-left: 1rem;
	padding-right: 1rem;
	line-height: 3.3rem;
	margin-right: .7rem;

	&:hover {
		color: #FFF;
		border-color: #FFF;
		opacity: .7;
	} 
}

.button.button-clear {
	color: #FFF;
}

header {
	background: url('/images/icons/icons_home.png') no-repeat right;
	background-size: 75px 75px;
	height: 200px;
	padding-top: 50px;

    h1 {
        color: white;
    }
}

button {
	background: #777;
}

.approved {
	background-color: rgb(94, 164, 40);
}

.unapproved {
	background-color: rgb(186, 34, 46);
}

.pending {
	background-color: rgb(208, 72, 46);
}



footer {
    padding: 30px 0;
}

.pageHead {
	position: relative;
	height: 250px;
	width: 100%;
	min-width: 900px;
	padding-top: 30px;
	background-repeat: no-repeat;
	background-position: 40px 30px;
	margin-top: -30px;
	margin-bottom: 10px;
	
	h3 {
		position: absolute;
		right: 2em;
		top: 1em;
	}
	
	ul.info {
		margin-left: 15em;
		height: 8.5em;
		
		li {
			font-size: 1.4em;
		}
	}
	
	nav {
    margin-top: 2em;
    margin-left: 3em;
    
	    ul li {
	        padding-left: 10px;
            
            a {
                border: 3px solid #FFF;
                padding: 10px;
                border-radius: 15px;
                
                &:hover {
                opacity: .7;
                }
            }
	    }
	    
	    ul li:first-child {
	        padding-left: 10px;
	    }
	}
    
}

.pageHead.holiday {
    background: url('/images/icons/icons_holiday.png') no-repeat top 20px left 40px $holiday;
}

.pageHead.lieuHour {
    background: url('/images/icons/icons_lieu.png') no-repeat top 20px left 40px $lieuHour;
}

.pageHead.sickDay {
    background: url('/images/icons/icons_sick.png') no-repeat top 20px left 40px $sickDay;
}

.pageHead.freeTime {
    background: url('/images/icons/icons_freeTime.png') no-repeat top 20px left 40px $freeTime;
}

form {
    max-width: 500px;
    
    select {
    	background-color: #FFF;
    }
    
    label {
    	color: #fff;
    }
    
    p:last-of-type {
        margin-top: 40px;
    }
    
    p.scale_label {
		margin-right: 10px;
		display: inline;
		margin-bottom: 40px;
		color: #FFF;
	}
	
	.errorSummary, 
	.errorMessage {
		color: darken(red, 20%);
	}
}

.form {
    width: 60%;
    min-width: 600px;
	padding: 40px;
	padding-top: 80px;
	margin-left: 0;
	
	h2 {
        margin-bottom: 60px;
    }
}

.form.holiday {
	background: url('/images/icons/icons_holiday.png') no-repeat top 20px right 50px $holiday;
}

.form.freeTime {
	background: url('/images/icons/icons_freeTime.png') no-repeat top 20px right 50px $freeTime;
}

.form.lieuHour {
	background: url('/images/icons/icons_lieu.png') no-repeat top 20px right 50px $lieuHour;
}

.form.sickDay {
	background: url('/images/icons/icons_sick.png') no-repeat top 20px right 50px $sickDay;
}

#menuBox {
	padding: 20px;
	
	h2 {
	    font-family: "cooper-black-std",sans-serif;
	    font-size: 0.9em;
	    margin: 0;
	}
	
	p {
	    font-size: .7em;
	    color: #FFF;
    }
    
    a {
    	display: block;
    	width: 160px;
    	float: left;
    	margin-right: 4em;
    	margin-bottom: 1.6em;
    }
    
    .info {
        margin-top: 110px;
    }
}

.menu {
    width: 200px;
    height: 200px;
    padding: 20px;
    
    a {
    	display: block;
    	width: 160px;
    }
    
    ul li {
    	font-size: .8em;
    	line-height: 4em;
    	display: none;
    }
    
    ul li:last-of-type
    {
    	display: block;
    }
}

.menu.holiday {
	background: url('/images/icons/icons_holiday.png') no-repeat center 50px $holiday;
	background-size: 50%;
}

.menu.freeTime {
	background: url('/images/icons/icons_freeTime.png') no-repeat center 50px $freeTime;
	background-size: 50%;
}

.menu.sickDay {
	background: url('/images/icons/icons_sick.png') no-repeat center 50px $sickDay;
	background-size: 50%;
}

.menu.lieuHour {
	background: url('/images/icons/icons_lieu.png') no-repeat center 50px $lieuHour;
	background-size: 50%;
}

.info li {
    color: #FFF;
    font-size: .9em;
}

.hidden {
    display: none;
}


.views {

}

.view {
	width: 170px;
	height: 170px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 20px;
	line-height: 1.5em;
	float: left;
	
	p {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		line-height: .8rem;
	}

	img {
		margin-top: 0;
		width: 2rem;
	}

}

.detail {
	width: 600px;
	padding: 0;
}

.thumb {
	width: 60px;
	height: 60px;
	float: right;
	margin-right: 1em;
}

table.detail-view
{
	border-collapse: collapse;
	width: 600px;
	margin: 0;
	margin-bottom: 5em;
}

table.detail-view th, table.detail-view td
{
	font-size: 1.4em;
	padding: 0.3em 0.6em;
	vertical-align: top;
	color: #FFF;
	font-weight: normal;
}

table.detail-view th {
	font-size: 1.8em;
	font-weight: bold;
	text-align: left;
}

.question input {
	width: 20px;
	margin-right: 40px;
}

.edit-button {
	margin: 0;
	margin-top: -3em;
	margin-bottom: 2em;
	
	a {
	    border: 3px solid #FFF;
	    padding: 10px;
	    border-radius: 15px;
	    margin-left: 0;
	    
	    &:hover {
	    opacity: .7;
	    }
	}
}